.footer {
  background: $background-linear;
  max-width: 100%;
  margin-top: 16rem;
  overflow: visible;

  a {
    color: $col-white;
  }

  &__wrapp {
    max-width: 1496px;
    margin: 0 auto;
    padding: 4rem 6rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4rem;
    justify-items: left;
    background: $background-linear;
    overflow: hidden;

    &__traf {
      @include flex(column, left, left);
      grid-row: 4/5;

      .logo {
        margin-bottom: 1.2rem;

        &__txt {
          @include flex(column);
        }
      }

      .traf__txt {
        margin-bottom: 2.1rem;
      }
    }
  }

  &__list {
    @include flex(column, left, left);

    &__item--title {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width:870px) {
  .footer {

    &__wrapp {
      grid-template-columns: 2fr repeat(3, 1fr);
      padding: 10.9rem 5rem;

      &__traf {
        grid-row: 1/2;
        margin-right: 4rem;
      }
    }

    .dots--left-center::before {
      top: 32rem;
    }

    &__list__item--title {
      margin-bottom: auto;
    }
  }
}