.dots {
  position: relative;
  overflow: visible;

  &::before,
  &::after {
    position: absolute;
    background-image: url(./../../img/main/articles/dots.svg);
    width: 132px;
    height: 115px;
    z-index: -1;
  }

  &::before {
    content: "";
  }

  &--top-right::before {
    top: 0;
    right: 0;
  }

  &--top-left::before {
    top: -5rem;
    left: -5rem;
  }

  &--bottom-right::before {
    bottom: 0;
    right: 0;
  }

  &--bottom-left::before {
    bottom: 6rem;
    left: -8rem;
  }

  &--top-center::before {
    top: 0;
    right: 0;
  }

  &--left-center::before {
    top: 0;
    left: 0;
  }

  &--bottom-center::before {
    bottom: 0;
    right: 0;
  }

  &--right-center::before {
    bottom: 0;
    left: 0;
  }

  &__second {
    &::after {
      content: "";
    }

    &--top-right::after {
      top: -5rem;
      right: -5rem;
    }

    &--top-left::after {
      top: 0;
      left: 0;
    }

    &--bottom-right::after {
      bottom: 0;
      right: 0;
    }

    &--bottom-left::after {
      bottom: 0;
      left: 0;
    }

    &--top-center::after {
      top: 0;
      right: 0;
    }

    &--left-center::after {
      top: 0;
      left: 0;
    }

    &--bottom-center::after {
      bottom: 0;
      right: 0;
    }

    &--right-center::after {
      bottom: 0;
      left: 0;
    }
  }
}