.h1 {
    @include font(4.8rem, 5.6rem, 700);
}

.h2 {
    @include font(3rem, 4.6rem, 700);

    &--white {
        color: $col-white;
        line-height: 3.2rem;
    }

    &--l-height {
        line-height: 4.8rem;
    }
}

.h3 {
    @include font(2.4rem, 5.6rem, 700);
}

.h4 {
    @include font(1.8rem, 3.2rem, 700);

}

.p1 {
    @include font(2.1rem, 3.2rem, 300);
}

.h6 {
    @include font(1.6rem, 3rem, 300);
}

.p2 {
    @include font(1.8rem, 3rem, 300);

    &--footer {
        line-height: 2.8rem;
    }

    @media screen and (min-width: 1024px) {
        font-size: 1.8rem;

    }
}

// @todo remove both merged classes in file 
.p {
    @include font(1.4rem, 2.8rem, 300);
}

.p3 {
    @include font(1.6rem, 2.8rem, 300);
}

.text-button {
    @include font(1.8rem, 6rem, 700);
}

.text-white {
    color: $col-white;
}