@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin font($size, $line, $weight: normal) {
    font-size: $size;
    line-height: $line;
    font-weight: $weight;

}