// colors
$col-black:#000000;
$col-white:#FFFFFF;

$col-grey-300: #FBFCF7;
$col-grey-500: #F7F9FC;
$col-grey-800: #7D7987;

$col-blue: #458FF6;
$col-primary:$col-blue;

$col-blue-200: #58D6F4;
$col-blue-300: #458FF6;
$col-blue-400: #4089ED;
$col-blue-500: #3A81D6;
$col-blue-700: #1A6FB5;
$col-blue-900: #233348;


// fonts
$font-primery: 'Mulish';

// etc...

// breakpoints